* {
    box-sizing: border-box;
}

body {
    font: normal 400 18px/21px 'Raleway', sans-serif;
    background-color: white;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, .title1 {
    font-size: 48px;
    font-weight: 500px;
    line-height: 56px;
}

h2, .title2 {
    font-size: 36px;
    line-height: 42px; 
}

h3, .title3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
}

h4, .title4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.header{
    background-color: black;
    display: flex;
}

.header__list {
    list-style: none;
}

.header__list li, a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0 20px;
}

.button {
    display: inline-block;
    width: 270px;
    height: 60px;
    padding: 21px 0;
    border: none;
    outline: none;
    background-color: #EC7979;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button__transparent {
    background-color: transparent;
    border: 2px solid white;
}

.button:hover{
    border: 2px solid #EC7979;
    color: #EC7979;
}

.button:active{
    border: none;
    background-color: #AB4949;
    color: white;
}

.separator {
    width: 170px;
    height: 1px;
    margin: 0 auto;
    background-color: #EC7979;
    border: none;
}

.separator__white{
    background-color: white;
    margin: 0;
}

.main-banner{
    background-image: url(/images/image.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    padding: 230px 120px 185px;
    display: flex;
}


.main-banner__title {
    margin-top: 72px;
    margin-bottom: 55px;
    color: white;
    text-transform: uppercase;
    width: 670px;
    height: 168px;
}

.main-banner__text {
    color: white;
    margin: 42px 0;
    width: 270px;
}

.form-container {
    background-color: white;
    width: 470px;
    height: 450px;
}

.social-section {
    background-color: #F8EFEF;
    margin: 0;
    padding: 18px 120px;
    height: 140px;
}

.social-section__title {
    height: 60px;
}

.social-section__text {
    color: #86878B;
    width: 470px;
    height: 42px;
}

.social-section__list {
    list-style: none;
    display: inline-block;
}

.social-section__list li {
    display: inline;
}

/*Tabs with Image on the right*/

.tabs-section{
    margin: 0;
    padding: 120px 120px 50px 120px;
}

.tabs {
    display: flex;
}

.tabs-section__list {
    list-style: none;
}

.tabs-section__list li {
    display: inline;
    justify-content: space-between;
}

.tabs-content{
    border: 1px solid #C6CBCD;
    padding-right: 30px;
}

.tabs-content__title {
    width: 570px;
    height: 124px;
}

.tabs-content__text, .tabs-content__text2 {
    width: 570px;
    margin-bottom: 27px;
}

.tabs-content__image {
    aspect-ratio: 470/500;
}

/*Awesome section*/

.design-section {
    padding: 50px 120px 0;
}

.design-section__title {
    text-align: center;
    margin-bottom: 45px;
}

.design-section__text {
    margin: 40px 0 110px;
    text-align: center;
    color: #86878B;
}

.design-section__list {
    list-style: none;
    display: flex;
}

.design-section__list li,a  {
    display: inline;
    justify-content: space-between;
    align-items: center;
}

/*Pricing section*/

.pricing-section {
    background-color: #F5F5F5;
    padding: 50px 170px;
    display: flex;
}

.pricing-section__title {
    text-align: center;
    margin-bottom: 45px;
}

.pricing-section__text {
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.pricing-plan {
    flex-wrap: nowrap;
    justify-content: center;
}


/*Customer's feebback section*/

.feedback{
    display: flex;
}
.feedback__title {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.feedback__text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 83px;
}

.feedback__list {
    list-style: none;
    display: flex;
}

.person__quote {
    background-color: #E2E2E2;
    justify-content: space-between;
}

.person {
    display: inline;
}

/*Stylish section*/

.stylish-module {
    background-image: url(/images/banner2.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    height: 442px;
    padding: 50px 170px 0;
}

.stylish-module__title {
    color: white;
    text-align: center;
    margin-bottom: 45px;
}

.stylish-module__text {
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 73px;
}

/*Contact Us form*/

.contact-us {
    padding: 50px 170px;
}

.contact-us__title {
    text-align: center;
    margin-bottom: 45px;
}

.contact-us__text {
    text-align: center;
    margin-top: 40px;
}

.contact-us__button{
    align-items: center;
    margin-top: 30px;
}

.footer {
    display: flex;
    background-color: black;
    height:164px;
}