* {
    box-sizing: border-box;
}

<<<<<<< Updated upstream
body {
    font: normal 400 18px/21px 'Raleway', sans-serif;
    background-color: white;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, .title1 {
    font-size: 48px;
    font-weight: 500px;
    line-height: 56px;
}

h2, .title2 {
    font-size: 36px;
    line-height: 42px; 
}

h3, .title3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
}

h4, .title4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.header {
    background-color: black;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    list-style: none;
    display: flex;
}

.header__link {
    text-decoration: none;
    color: white;
    padding: 28px 20px;
    min-width: 134px;
    line-height: 19px;
    text-align: center;
    font-size: 14px;
}

.header__link:hover {
    background: #EC7979;
}

.header__link:active {
    background-color: #AB4949;
}

.button {
    display: inline-block;
    width: 270px;
    height: 60px;
    padding: 17px 0;
    border: none;
    outline: none;
    background-color: #EC7979;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button__transparent {
    background-color: transparent;
    border: 2px solid white;
}

.button:hover{
    border: 2px solid #EC7979;
    color: #EC7979;
    background: none;
}

.button:active{
    border: none;
    background-color: #AB4949;
    color: white;
}

.separator {
    width: 170px;
    height: 1px;
    margin: 0 auto;
    background-color: #EC7979;
    border: none;
}

.separator__white{
    background-color: white;
    margin: 0;
}

.main-banner{
    background-image: url(/images/image.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    padding: 230px 120px 185px;
    display: flex;
}


.main-banner__title {
    margin-top: 72px;
    margin-bottom: 55px;
    color: white;
    text-transform: uppercase;
    width: 670px;
    height: 168px;
}

.main-banner__text {
    color: white;
    margin: 42px 0;
    width: 270px;
}

.form-container {
    background-color: white;
    max-width: 470px;
}

/* .trial-form {
    margin: 75px auto;
    background-color: white;
    padding: 80px 50px 75px;
}

.trial-form > * {
    display: block;
    width: 100%;
} */
.social-section {
    background-color: #F8EFEF;
    margin: 0;
    padding: 18px 120px;
    height: 140px;
}


.social {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.social-section__title {
    height: 60px;
}

.social-section__text {
    color: #86878B;
    width: 470px;
    height: 42px;
}

.social-section__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.social-section__item {
    padding: 0 18px;
}

/*Tabs with Image on the right*/

.tabs-section{
    margin: 0;
    padding: 120px 120px 50px 120px;
}

.tabs {
    display: flex;
}

.tabs-section__list {
    list-style: none;
}

.tabs-section__list li {
    display: inline;
    justify-content: space-between;
    padding-right: 150px;
}

.tabs-content{
    border: 1px solid #C6CBCD;
    height: 500px;
    padding-left: 100px;
    display: flex;
    flex-grow: 1;;
}

.tabs-content__title {
    padding-top: 47px;
}

.tabs-content__text, .tabs-content__text2 {
    margin-bottom: 27px;
}

.tabs-content__image {
    aspect-ratio: 470/500;
    flex-shrink: 0;
    object-fit: cover;
    padding-left: 30px;
}

/*Awesome section*/

.design-section {
    padding: 50px 120px 0;
}

.design-section__title {
    text-align: center;
    margin-bottom: 45px;
}

.design-section__text {
    margin: 40px 0 110px;
    text-align: center;
    color: #86878B;
}


.circle {
    border:1px solid red; 
    height:100px;
    border-radius:50%;
    width:100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}

.design-section__image {
    aspect-ratio: 74/74;
}
.design-section__list {
    list-style: none;
    text-align: center;
    margin-bottom: 58px;
    display: flex;
}

.design-section__item,a  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

/*Pricing section*/

.pricing-section {
    background-color: #F5F5F5;
    padding: 50px;
    display: flex;
}

.pricing-section__title {
    text-align: center;
    margin-bottom: 45px;
}

.pricing-section__text {
    text-align: center;
    color: #86878B;
    margin-top: 40px;
    margin-bottom: 60px;
}


.pricing-plans {
    display: flex;
    text-align: center;
    align-items: center;
}

.pricing-plans > div:nth-child(2) {
    position: relative;
    bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.pricing-plan {
    width: 370px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: 10px;
}

.pricing-plan__title {
    background: #333333;
    color: white;
    padding: 15px 0px;
}

.pricing-plan__price {
    padding: 25px 0px;
    background: #333333;
    color: white;
    border-top: 1px solid  rgb(250, 250, 250);
    border-bottom: 1px solid  rgb(250, 250, 250);
}

.pricing-plan__term {
    background: #333333;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 0px;
}

.pricing-plan__list li {
    padding: 10px 0px;
    background-color: white;
    color: #86878B;
    border: 1px solid #F5F5F5;
}

/*Customer's feebback section*/

.feedback{
    display: flex;
}
.feedback__title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    text-transform: uppercase;
}

.feedback__text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 83px;
}

.feedback__list {
    list-style: none;
    display: flex;
}

.feedback__item {
    padding-right: 30px;
}

.rectangle {
    width: 370px;
    height: 180px;
    background-color: #E2E2E2;
    border-radius: 12px;
    position: relative;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #E2E2E2;
    bottom: -25px;
    left: 50px;
}
.person__quote {
    text-align: center;
    padding: 38px 0px;
}

.persons {
    position: relative;
    left: 10px;
    margin-top: 66px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
}

.person {
    margin-right: 33px;
    display: flex;
}

.person__image {
    margin-right: 30px;
}

.person__name {
    width: 270px;
}

/*Stylish section*/

.stylish-module {
    background-image: url(/images/banner2.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    height: 442px;
    padding: 50px 170px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stylish-module__title {
    color: white;
    text-align: center;
    margin-bottom: 45px;
}

.stylish-module__text {
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 73px;
}

.stylish-module__separator {
    width: 170px;
}

/*Contact Us form*/

.contact-us {
    padding: 50px 170px;
}

.contact-us__title {
    text-align: center;
    margin-bottom: 45px;
}

.contact-us__text {
    text-align: center;
    margin-top: 40px;
}

.contact-us__button{
    align-items: center;
    margin-top: 30px;
}

.footer {
    background-color: black;
    height:164px;
    display: flex;
    align-items: center;
    text-align: center;
}

.footer__list {
    display: flex;
    margin-bottom: 32px;
}

.footer__item {
    padding-right: 52px;
}

.footer__copyright {
    color: rgba(255, 255, 255, 0.5);;
}
=======
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* .grass-base {
    width: 450px;
    height: 300px;
    background: rgb(6, 107, 6);
    border-radius: 100px / 50px;
    position: relative;

  } */
>>>>>>> Stashed changes
